
/* the styles for the elements */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}


/* the styles for the header */


h2 {
    font-size: 170%;
    color: var(--global-color-1);
    text-indent: 30px;
}


h3{
    font-size: 130%;
    font-style: italic;
    text-indent: 30px;
}


header img {
    float: left;
}


/* the styles for the main content */
:root{
    --global-color-1: #800000;
}
.shadow{
    text-shadow: 2px 2px 4px var(--global-color-1);
}
a:focus, a:hover {
    font-style: italic;
}
main {
    clear: left;
}
main h1 {
    font-size: 150%;
}
main h2 {
    color: var(--global-color-1);
    font-size: 130%;
}
main h3 {
    font-size: 105%;
}


/* the styles for the footer */
footer p {
    text-align: center;
}
